@page "/create-badge"
@rendermode InteractiveServer
@inject IBadgesDAL BadgesDAL
@inject NavigationManager NavigationManager
@using Common.DAL
@using Common.Models
 
<h3>Create Badge Page</h3>
 
<EditForm Model="@badge" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
 
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <InputText class="form-control" id="title" @bind-Value="badge.Title" />
    </div>
 
    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <InputTextArea class="form-control" id="description" @bind-Value="badge.Description" />
    </div>
 
    <div class="mb-3">
        <label class="form-label" for="turnInInstructions">Turn In Instructions</label>
        <InputTextArea class="form-control" id="turnInInstructions" @bind-Value="badge.TurnInInstructions" />
    </div>
 
    <div class="mb-3">
        <InputCheckbox class="form-check-input" id="isVisible" @bind-Value="badge.IsVisible" />
        <label class="form-label" for="isVisible">Is Visible</label>
    </div>
 
    <button class="btn btn-primary" type="submit">Create Badge</button>
</EditForm>
 
<p>
    @message
</p>
@code {
    private Badge badge = new Badge();
    private string message = "Please enter information and press submit.";
    private async Task HandleValidSubmit()
    {
        // Add the badge to the data service
        await BadgesDAL.AddBadgeAsync(badge);
        NavigationManager.NavigateTo(uri:"/badges");
    }
}