@page "/badges"
@rendermode InteractiveServer
@inject IBadgesDAL BadgesDAL
@inject NavigationManager NavigationManager
 
<h1>Badges</h1>
<p>Here you can view and manage your badges.</p>
 
@if (badges == null)
{
    <p>Loading badges...</p>
}
else if (badges.Count == 0)
{
    <p>No badges available yet. Check back later!</p>
}
else
{
    <ul class="list-group">
        @foreach (var badge in badges)
        {
            <li class="list-group-item">
                @badge.Title - @(badge.IsVisible ? "Published" : "In review")
            </li>
        }
    </ul>
}
 

@code {
    List<Badge>? badges;
 
    protected override async Task OnInitializedAsync()
    {
        badges = await BadgesDAL.GetBadgesAsync();
    }
}