@page "/feedratecalc"
@rendermode InteractiveServer
@using Common.Services
 
<PageTitle>Feed Rate Calculator</PageTitle>
<h1>Feed Rate Calculator</h1>
 
<p>This is the Feed Rate Calculator page. </p>
 
<EditForm Model="feedRateCalc" OnValidSubmit="OnSubmitFeedRateData">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label" for="rpm">RPM</label>
        <InputNumber class="form-control" step="any" id="rpm" @bind-Value="feedRateCalc.RPM" />
        <ValidationMessage For="@(() => feedRateCalc.RPM)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="numFlutes">Num Flutes</label>
        <InputNumber class="form-control" id="numFlutes" @bind-Value="feedRateCalc.NumFlutes" />
        <ValidationMessage For="@(() => feedRateCalc.NumFlutes)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="chipLoad">Chip Load</label>
        <InputNumber class="form-control" step="any" id="chipLoad" @bind-Value="feedRateCalc.ChipLoad" />
        <ValidationMessage For="@(() => feedRateCalc.ChipLoad)" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="units">Units</label>
        <InputText class="form-control" id="units" @bind-Value="feedRateCalc.Units" />
        <ValidationMessage For="@(() => feedRateCalc.Units)" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
<p>
    @message
</p>
<p>
    <a href="cnc-calculators">Return to CNC Calculators Page"</a>
</p>
@code {
    CNCFeedRateCalc feedRateCalc = new CNCFeedRateCalc();
    private string message = "Please fill out form and click submit.";
 
    private void OnSubmitFeedRateData()
    {
        message = $"The best starting feedrate is {feedRateCalc.FeedRate} {feedRateCalc.Units} per minute.";
    }
}