@page "/about"
 
<h3>About Page</h3>
<p>
    This club is meant for anyone interested in development and innovation using computer technology. You don't have to be a programmer! Are you an artist, writer, business innovator? Do you build things?  This club is meant to bring people of disparate skills together who want to participate in collaboratively building things, using computer technology, and competing in technology based competitions.
</p>
 
@code {
 
}