@page "/conditional-rendering"
<h3>Conditional Rendering Demo Page</h3>
 
@if(isLoggedIn)
{
    <h2> welcome @userName!</h2>
}
else
{
    <h2>Please log in!</h2>
}
@code {
    bool isLoggedIn = true;
    string userName = "Rob";
}