@page "/looping-demo"
<h3>Looping Demo Page</h3>
@if(products == null)
{
    <p>loading...</p>
}
else
{
    <ul>
        @foreach(var product in products)
        {
            <li>
                @product.Name - $@product.Price
            </li>
        }
         
    </ul>
}
 
@code {
    private List<Product> products;
 
    class Product
    {
        public string? Name { get; set; }   
        public decimal Price { get; set; }        
    }
 
    protected override void OnInitialized()
    {
        products = new List<Product>()
        {
            new Product()
            {
                Name = "Toaster",
                Price = 1000000000
            },
            new Product()
            {
                Name = "Car",
                Price = 200000
            },
            new Product()
            {
                Name = "Laptop",
                Price = 1000
            }
        };
    }
 
}