@page "/subcomponents-demo/parent2"
 
<h1>Parent Component Two</h1>
<p>This is the second parent component. It also includes the same child components below:</p>
<SubComponent1 />
<SubComponent2 />
<SubComponent1 />
<SubComponent2 />