@page "/razor-syntax-demos"
<h3>RazorSyntaxDemosPage</h3>
 
<NavLink class="nav-link" href="razor-demo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Razor Demo
</NavLink>
 
<NavLink class="nav-link" href="code-blocks">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Code Blocks
</NavLink>
 
<NavLink class="nav-link" href="conditional-rendering">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Conditional Rendering
</NavLink>
 
<NavLink class="nav-link" href="ternary-operator">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Ternary Operator Demo
</NavLink>
 
<NavLink class="nav-link" href="looping-demo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Looping Demo
</NavLink>
 
<NavLink class="nav-link" href="for-while-demo">
    <span class="bi bi-box-fill" aria-hidden="true"></span> For and While Demo
</NavLink>
 
<NavLink class="nav-link" href="counter">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Event Binding Demo
</NavLink>
 
<NavLink class="nav-link" href="two-way-data-binding">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Two Way Data Binding Demo
</NavLink>
 
<NavLink class="nav-link" href="calling-methods">
    <span class="bi bi-box-fill" aria-hidden="true"></span> Calling Methods Demo
</NavLink>
 
 
@code {
 
}