@page "/ssr-demo"
<h3>SSR Demo Page</h3>
<form action="/ssr-response">
    <input class="form-control" type="text" name="text" />
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>
}