@page "/subcomponents-demo"
 
<h1>SubComponents Demo</h1>
 
<p>This page demonstrates the use of subcomponents in Blazor. Subcomponents allow you to break down your UI intosmaller,
    reusable pieces, making your code more modular and easier to maintain.</p>
 
    <NavLink class="nav-link" href="subcomponents-demo/parent1">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Child/Parent Demo One
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/parent2">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Child/Parent Demo Two
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/parameter-demo">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Parameter Demo
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/rerendering-demo">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Re-rendering Demo
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/rerendering-demo-child-parent">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Re-rendering Demo Child -> Parent
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/event-callback-demo">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Event Callback Demo
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/event-callback-with-param-demo">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Event Callback With Param Demo
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/renderfragment-demo-parent1">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Render Fragment Demo Parent One
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/renderfragment-demo-parent2">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Render Fragment Demo Parent Two
    </NavLink>
 
    <NavLink class="nav-link" href="subcomponents-demo/ref-demo">
        <span class="bi bi-columns-gap" aria-hidden="true"></span> Ref Demo
    </NavLink>